extends basic

block scripts
	script.
		var lgrupos = !{grupos};

		var cargarLista = function(){
			var htmlDelListadoDeGrupos='<Table>';
			htmlDelListadoDeGrupos+='<tr> <td>Código</td> <td>Descripción</td> </tr>';
			for(gr in lgrupos){
				htmlDelListadoDeGrupos
					+='<tr>'
					+'<td>'+lgrupos[gr].Codigo+'</td>'
					+'<td><p>Descripción: '+(lgrupos[gr].Descripcion||'-Sin descripcion-') + '</p>'
					+'<p>Cuenta contable: '+(lgrupos[gr].Cuenta_Contable||'-No establecido-')+ '</p>'
					+'<p>Estado: '+(lgrupos[gr].Estado||'-No establecido-')+ '</p>'
					+'<br></br>'
					+'<input type="submit" value="Actualizar" style="width:45%" '
					+'onClick="onClickBtnMostrarCambiarGrupo('
						+lgrupos[gr].Codigo+',\''+lgrupos[gr].Descripcion+'\',\''+lgrupos[gr].Cuenta_Contable+'\',\''+lgrupos[gr].Estado+'\')"/>'
					+'&nbsp;'
					+'<input type="submit" value="Borrar" style="width:45%"'
					+'onClick="onClickBtnBorrarGrupo('
						+lgrupos[gr].Codigo+',\''+lgrupos[gr].Descripcion+'\',\''+lgrupos[gr].Cuenta_Contable+'\',\''+lgrupos[gr].Estado+'\')"/>'
					+'</td>'
					+'</tr>';
			}
			htmlDelListadoDeGrupos+='</table>';

			document.getElementById("divlistadogrupos").innerHTML = htmlDelListadoDeGrupos;
		};
		window.onload = cargarLista;

		var onClickBtnMostrarTodosG = function(){
			//ocultar y mostrar
			seclistgrupos.style.display="block";
			nuevoGrupo.style.display="none";
			opciones.style.display="none";
			cambiarGrupo.style.display="none";
		}

		var onClickBtnMostrarMenu = function(){
			//ocultar y mostrar
			seclistgrupos.style.display="none";
			nuevoGrupo.style.display="none";
			opciones.style.display="block";
			cambiarGrupo.style.display="none";
			mensajes.style.display="none";
		}

		var onClickBtnMostrarNuevoGrupo = function(){
			//limpiar valores actuales
			codigo_grupo_agregar.value="";
			descripcion_grupo_agregar.value="";
			cuenta_grupo_agregar.value="";
			estado_grupo_agregar.value="";
			//ocultar y mostrar
			seclistgrupos.style.display="none";
			nuevoGrupo.style.display="block";
			opciones.style.display="none";
			cambiarGrupo.style.display="none";
		}

		var onClickBtnMostrarCambiarGrupo = function(codigo,descripcion,cuenta,estado){
			//limpiar valores actuales
			codigo_grupo_cambiar.value=codigo;
			descripcion_grupo_cambiar.value=descripcion;
			cuenta_grupo_cambiar.value=cuenta;
			estado_grupo_cambiar.value=estado;
			//ocultar y mostrar
			seclistgrupos.style.display="none";
			nuevoGrupo.style.display="none";
			opciones.style.display="none";
			cambiarGrupo.style.display="block";
		}

		var onClickBtnCancelar = function(){
			if (confirm("¿Seguro desea cancelar operacion?\nAceptar = Sí")) {
				//ocultar y mostrar
				seclistgrupos.style.display="none";
				nuevoGrupo.style.display="none";
				opciones.style.display="block";
				cambiarGrupo.style.display="none";
			} 
		}

		var mensajeErrorGeneral = function(error){	
			if(error){
				titulo_mensajes_operaciones.innerHTML = '¡Error!';
				mensajes_operaciones.innerHTML = error;
				//ocultar y mostrar
				seclistgrupos.style.display="none";
				nuevoGrupo.style.display="none";
				opciones.style.display="none";
				cambiarGrupo.style.display="none";
				mensajes.style.display = "block";			
			} else {
				titulo_mensajes_operaciones.innerHTML = '¡Error!';
				mensajes_operaciones.innerHTML = 'Algo salió mal, favor intente mas tarde.';
				//ocultar y mostrar
				seclistgrupos.style.display="none";
				nuevoGrupo.style.display="none";
				opciones.style.display="none";
				cambiarGrupo.style.display="none";
				mensajes.style.display = "block";			
			}
		}

		var onClickBtnBorrarGrupo = function(codigo,descripcion,cuenta,estado){
			if(confirm("Esta a punto de borrar el grupo:" + "\n" 
				+ "Codigo: " + codigo + "\n" 
				+ "Descripcion: " + descripcion + "\n" 
				+ "Cuenta: " + (cuenta || '-Sin asignar-') + "\n" 
				+ "Estado: " + (estado || '-Sin asignar-') + "\n\n¿Desea continuar?" )
			){
				var data = '';
				data+='codigo_grupo_borrar=' + codigo;

				var requestABC ;
				if(window.XMLHttpRequest){//Soporte para IE7+,Firefox,chrome,opera,safari
					requestABC = new XMLHttpRequest();
				}else{ //IE6-
					requestABC = new ActiveXObject("Microsoft.XMLHTTP");
				}

				requestABC.onreadystatechange = function(){
					if(requestABC.readyState==4)
						if(requestABC.status==200) {
							//acciones cuado se haya cargado la pagina
							var respuesta = JSON.parse(requestABC.responseText);
							if(respuesta[0].tran_error == 0 ) {
								titulo_mensajes_operaciones.innerHTML = '¡Hecho!';
								mensajes_operaciones.innerHTML = respuesta[0].tran_mensaje;
								nuevoGrupo.style.display = "none";
								mensajes.style.display = "block";
							} else if(respuesta[0].tran_error == 2){
								alert("Error: \nEl código especificado no existe");							
							}else mensajeErrorGeneral();					
						}else mensajeErrorGeneral(); 
				}
				requestABC.open("POST","/grupos/borrar_grupo",true);
				requestABC.setRequestHeader("Content-type","application/x-www-form-urlencoded");
				requestABC.send(data);
			}else{
				return false;
			}
		}

		var onClickBtnAgregarGrupo = function(){
			if(estado_grupo_agregar.value.length > 1 ) {
				alert("Error: \nEl estado solo puede tener un caracter");	
				return false;			
			} else if (cuenta_grupo_agregar.value.length > 10 ) {
				alert("Error: \nLa cuenta contable solo puede tener hasta 10 caracteres");	
				return false;			
			}else if (descripcion_grupo_agregar.value.length > 60 ) {
				alert("Error: \nLa descripcion solo puede tener hasta 60 caracteres");	
				return false;			
			}

			var data = '';
			data+='codigo_grupo_agregar=' + codigo_grupo_agregar.value + '&';
			data+='descripcion_grupo_agregar=' + descripcion_grupo_agregar.value + '&';
			data+='cuenta_grupo_agregar=' + cuenta_grupo_agregar.value + '&';
			data+='estado_grupo_agregar=' + estado_grupo_agregar.value ;

			var requestABC ;
			if(window.XMLHttpRequest){//Soporte para IE7+,Firefox,chrome,opera,safari
				requestABC = new XMLHttpRequest();
			}else{ //IE6-
				requestABC = new ActiveXObject("Microsoft.XMLHTTP");
			}

			requestABC.onreadystatechange = function(){
				if(requestABC.readyState==4)
					if(requestABC.status==200) {
						//acciones cuado se aya cargado la pagina
						var respuesta = JSON.parse(requestABC.responseText);
						if(respuesta[0].tran_error == 0 ) {
							titulo_mensajes_operaciones.innerHTML = '¡Hecho!';
							mensajes_operaciones.innerHTML = respuesta[0].tran_mensaje;
							nuevoGrupo.style.display = "none";
							mensajes.style.display = "block";
						} else if(respuesta[0].tran_error == 1){
							alert("Error: \nEl código especificado ya existe");							
						}else mensajeErrorGeneral();					
					}else mensajeErrorGeneral(); 
			}
			requestABC.open("POST","/grupos/agregar_grupo",true);
			requestABC.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			requestABC.send(data);
		}

		var onClickBtnCambiarGrupo = function(){
			if(estado_grupo_cambiar.value.length > 1 ) {
				alert("Error: \nEl estado solo puede tener un caracter");	
				return false;			
			} else if(cuenta_grupo_cambiar.value.length > 10 ) {
				alert("Error: \nLa cuenta contable solo puede tener hasta 10 caracteres");	
				return false;			
			}else if(descripcion_grupo_cambiar.value.length > 60 ) {
				alert("Error: \nLa descripcion solo puede tener hasta 60 caracteres");	
				return false;			
			}

			var data = '';
			data+='codigo_grupo_cambiar=' + codigo_grupo_cambiar.value + '&';
			data+='descripcion_grupo_cambiar=' + descripcion_grupo_cambiar.value + '&';
			data+='cuenta_grupo_cambiar=' + cuenta_grupo_cambiar.value + '&';
			data+='estado_grupo_cambiar=' + estado_grupo_cambiar.value ;

			var requestCambiarG ;
			if(window.XMLHttpRequest){//Soporte para IE7+,Firefox,chrome,opera,safari
				requestABC = new XMLHttpRequest();
			}else{ //IE6-
				requestABC = new ActiveXObject("Microsoft.XMLHTTP");
			}

			requestABC.onreadystatechange = function(){
				if(requestABC.readyState==4)
					if(requestABC.status==200) {
						//acciones cuado se aya cargado la pagina
						var respuesta = JSON.parse(requestABC.responseText);
						if(respuesta[0].tran_error == 0 ) {
							titulo_mensajes_operaciones.innerHTML = '¡Hecho!';
							mensajes_operaciones.innerHTML = respuesta[0].tran_mensaje;
							cambiarGrupo.style.display = "none";
							mensajes.style.display = "block";
						} else if(respuesta[0].tran_error == 2){
							titulo_mensajes_operaciones.innerHTML = '¡Error!';
							alert("Error: \nEl código especificado no existe");							
						}else mensajeErrorGeneral();					
					}else mensajeErrorGeneral(); 
			}
			requestABC.open("POST","/grupos/cambiar_grupo",true);
			requestABC.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			requestABC.send(data);
		}


block gruposli
	li#gruposli.active
		a(href='/grupos')
			span Grupos



block content
	p
	h2 Administración de grupos
	section#opciones.container(style="max-width:85%;padding:5px;text-align:center")
		#btnsOpciones(style=" max-width:300px;width:85%;display:inline-block;margin:0 auto; overflow:hidden;padding: 0px 5%;")
			h3 Opciones
			input(style="width:100%;",type='submit', value='Mostrar todos', id='btnMostrarTodos' onClick='onClickBtnMostrarTodosG()')
			br
			br
			input(style="width:100%;",type='submit', value='Nuevo', id='btnNuevo' onClick='onClickBtnMostrarNuevoGrupo()')
			p
		p
		#busquedas(style="max-width:300px;width:85%;display:inline-block;margin:0 auto; overflow:hidden;padding: 0px 5%;")
			h3 Busqueda
			input(style="width:95%;",type='text', name='buscar_grupo', id='buscar_grupo', placeholder='buscar por código de grupo', required='')
			br
			input(type='radio', name='rdBuscar', id='rdBuscar_p_codigo', value='codigo', checked='' ,onClick='document.getElementById("buscar_grupo").placeholder="buscar por código de grupo";')
			text por código
			br
			input(type='radio', name='rdBuscar', id='rdBuscar_p_descripcion', value='descripcion', onClick='document.getElementById("buscar_grupo").placeholder="buscar por descripción de grupo";')
			text en descripcion
			br
			input(style="width:100%;",type='submit', value='Buscar')

			br
			br
			br

	p

	section#seclistgrupos.container(style="max-width:85%;padding:5px;text-align:center;display:none;")
		h3 Todos los grupos
		input(type='submit', value='Regresar a opciones', style='width:100%', onClick="onClickBtnMostrarMenu()")
		br
		br
		div#divlistadogrupos.tabla_listado(style="z-index:0")
		p


	section#nuevoGrupo.container(style="max-width:85%;padding:5px;text-align:center;display:none;")
		h3 Nuevo Grupo
		label(for='codigo_grupo_agregar') Codigo:
		input(style="max-width:300px;width:85%;",type='number', name='codigo_grupo_agregar', id='codigo_grupo_agregar', placeholder='codigo', required='')
		label(for='descripcion_grupo_agregar') Descripcion:
		input(style="max-width:300px;width:85%;",type='text', name='descripcion_grupo_agregar', id='descripcion_grupo_agregar', placeholder='descripcion', required='')
		label(for='cuenta_grupo_agregar') Cuenta Contable:
		input(style="max-width:300px;width:85%;",type='text', name='cuenta_grupo_agregar', id='cuenta_grupo_agregar', placeholder='cuenta contable', required='')
		label(for='estado_grupo_agregar') Estado:
		input(style="max-width:300px;width:85%;",type='text', name='estado_grupo_agregar', id='estado_grupo_agregar', placeholder='estado', required='')
		br
		br
		input(style="max-width:300px;width:85%;",type='submit', value='Registrar nuevo grupo', onClick="onClickBtnAgregarGrupo()")
		br
		br
		input(style="max-width:300px;width:85%;",type='submit', value='Cancelar', onClick="onClickBtnCancelar()")
		p

	section#cambiarGrupo.container(style="max-width:85%;padding:5px;text-align:center;display:none;")
		h3 Actualizar Grupo
		label(for='codigo_grupo_cambiar') Codigo:
		input(style="max-width:300px;width:85%;",type='number', name='codigo_grupo_cambiar', id='codigo_grupo_cambiar', placeholder='codigo', required='',readonly='readonly')
		label(for='descripcion_grupo_cambiar') Descripcion:
		input(style="max-width:300px;width:85%;",type='text', name='descripcion_grupo_cambiar', id='descripcion_grupo_cambiar', placeholder='descripcion', required='')
		label(for='cuenta_grupo_cambiar') Cuenta Contable:
		input(style="max-width:300px;width:85%;",type='text', name='cuenta_grupo_cambiar', id='cuenta_grupo_cambiar', placeholder='cuenta contable', required='')
		label(for='estado_grupo_cambiar') Estado:
		input(style="max-width:300px;width:85%;",type='text', name='estado_grupo_cambiar', id='estado_grupo_cambiar', placeholder='estado', required='')
		br
		br
		input(style="max-width:300px;width:85%;",type='submit', value='Actualizar grupo', onClick="onClickBtnCambiarGrupo()")
		br
		br
		input(style="max-width:300px;width:85%;",type='submit',value='Cancelar' onClick="onClickBtnCancelar()")
		p

	section#mensajes.container(style="max-width:85%;padding:5px;text-align:center;display:none;")
		h3(id='titulo_mensajes_operaciones')
		label(id='mensajes_operaciones')
		br
		br
		input(style="max-width:300px;width:85%;",type='submit',value='Regresar a menú' onClick="onClickBtnMostrarMenu()")
		p


	